
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');


body {
    font-family:"Bitcount Grid Single";
    background-color: #f9f9fc;
    color: #222;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    text-align: center;

}


#naslov1 {
    color: #3f51b5;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}


h2, h3, h4 {
    color: #303f9f;
    border-bottom: 2px solid #c5cae9;
    padding-bottom: 4px;
    margin-top: 30px;
}


p {
    max-width: 700px;
    margin: 10px auto;
    font-size: 1rem;
    text-align: justify;

}


ol {
    background: #e8eaf6;
    padding: 15px 40px;
    border-radius: 10px;
    max-width: 500px;
    margin: 15px auto;
    text-align: left;
    list-style: square;
}

ul {
    list-style: square; 
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    list-style: decimal;
    }

li {
    margin: 6px 0;
    font-weight: 500;
    vertical-align: middle;

}

h3 {
    margin-top: 40px;
    text-align: center;
}

span {
    float: right;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f0f0ff;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
}


fieldset {
    border: 1px solid #999;
    padding: 10px;
}

legend {
    position: relative;
    top: -5px;
    left: 5px;
}

input[type="text"],
input[type="url"],
select {
    display: block;
    width: 95%;
    margin: 8px 0;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus, select:focus {
    border-color: #3f51b5;
    background-color: #eef;
    outline: none;
}


button:hover {
    background-color: #3f51b5;
    color: white;
}

button:active {
    background-color: #1a237e;
}

button {
    margin-top: 10px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    background-color: #c5cae9;
    cursor: pointer;
    display: inline-block;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table.sadrzaj {
    background-color: #e8eaf6;
    border-radius: 10px;
}

table.sadrzaj th {
    background-color: #c5cae9;
    padding: 10px;
    border: 1px solid #999;
}

table.sadrzaj td {
    padding: 10px;
    border: 1px solid #d7c8d5;
    height: 40px;
}

table.sadrzaj tbody tr:nth-child(even) {
    background-color: #f0f0ff;
}

table.sadrzaj td:nth-child(1) {
    font-weight: bold;
    text-align: center;
}

table.sadrzaj tr:nth-child(1) td {
    padding: 14px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}